@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    box-sizing: content-box;
}

body {
    margin: 0 !important;
    font-family: 'Montserrat', sans-serif;
    background: #243949;
}

#bg {
    position: fixed;
    z-index: -1;
}

#contentbox {
    user-select: none;
    color: whitesmoke;
    padding: 2rem;
    z-index: 1;
}

#title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    opacity: 0;
}

#content {
    font-size: 1rem;
    opacity: 0;
}

a {
    color: whitesmoke;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
}

#content .section:not(:last-child) {
    padding-bottom: 1rem;
}

#bar {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    width: 100px;
    height: 20px;
    border: 1px solid whitesmoke;
}

#bar .progress {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: whitesmoke;
}

@media (min-width: 768px) {
    #title {
        font-size: 3rem;
    }
    #content {
        font-size: 1.5rem;
    }
}